@model TimeSheetApp.Models.User

@{
    ViewData["Title"] = "Login";

}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Sign In :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/easyadminLayout/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/css/customize.css" rel='stylesheet' />
    <!-- Graph CSS -->
    <link href="~/easyadminLayout/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/easyadminLayout/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="~/easyadminLayout/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/easyadminLayout/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/easyadminLayout/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="~/easyadminLayout/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sign-in-up">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <p><span>Timesheet</span></p>
                    </div>
                    <div class="signin">
                        <form asp-action="Login">
                            <div class="log-input">
                                <div class="log-input">
                                    <input asp-for="Username" type="text" class="user" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input">
                                    <input asp-for="Password" type="password" class="lock" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <span class="text-danger">@ViewBag.Message</span>
                            <input class="btn" type="submit" value="Sign In">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/easyadminLayout/js/jquery.nicescroll.js"></script>
    <script src="~/easyadminLayout/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/easyadminLayout/js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
