@model TimeSheetApp.Models.Employee

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Id</label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                @Html.DropDownListFor(model => model.Role, new SelectList(ViewBag.Roles, "Id", "Name"), "Select Role", new { @class = "form-select", @name = "role" })
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-hover" id="table" data-toggle="table" data-height="560">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="col-1" data-field="EmployeeId" data-sortable="true">#</th>
                    <th scope="col" class="col-2" data-field="Name" data-sortable="true">Name</th>
                    <th scope="col" class="col-1" data-field="Role.Name" data-sortable="true">Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in ViewBag.AllEmployee)
                {
                    <tr>
                        <th scope="row">@employee.EmployeeId</th>
                        <td>@employee.Name</td>
                        <td>@employee.Role.Name</td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function customSort(sortName, sortOrder, data) {
            var order = sortOrder === 'desc' ? -1 : 1
            data.sort(function (a, b) {
                var aa = +((a[sortName] + '').replace(/[^\d]/g, ''))
                var bb = +((b[sortName] + '').replace(/[^\d]/g, ''))
                if (aa < bb) {
                    return order * -1
                }
                if (aa > bb) {
                    return order
                }
                return 0
            })
        }
    </script>
}
