@model TimeSheetApp.Models.Project

<h4>Project</h4>
<hr />
<section class="py-5" style="width:100%;height:100%; border-radius: 0px" id="contact">
    <div class="pt-3" style="width:80%; margin-left:10%; margin-right: 10%">
        <div class="middle-heading1 text-center mb-5">
            <h3>Project</h3>
        </div>
        <div class="row agileinfo_mail_grids">
            <div class="col-md-5 agileinfo_mail_grid_right">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manager" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Manager, new SelectList(ViewBag.Manager, "Id", "Name"), "Select Manager", new { @class = "form-select", @name = "employee" })
                        <span asp-validation-for="Manager" class="text-danger"></span>
                    </div>

                    <div class="submit-buttons">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" id="create" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1 agileinfo_mail_grid_right">
            </div>
            <div class="col-md-6 mt-lg-0 mt-4 py-lg-3 py-4 px-0 contact-info">
                <div class="contact-info1">
                    <table class="table table-hover" id="table" data-toggle="table" data-height="300">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="col-2" data-field="Name" data-sortable="true">Name</th>
                                <th scope="col" class="col-2" data-field="Employee.Name" data-sortable="true">Manager</th>
                                <th scope="col" class="col-1"</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in ViewBag.AllProject)
                            {
                                <tr>
                                    <td><p>@project.Name</p></td>
                                    <td><p>@project.Manager.Name</p></td>
                                    <td style="text-align:center">
                                        <form asp-action="Delete">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-danger" type="submit" value="Delete">
                                                    <span style="color: white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                        </svg>
                                                    </span>
                                                </button>
                                                <input type="hidden" asp-for="Id" class="form-control" value="@project.Id" />
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function customSort(sortName, sortOrder, data) {
            var order = sortOrder === 'desc' ? -1 : 1
            data.sort(function (a, b) {
                var aa = +((a[sortName] + '').replace(/[^\d]/g, ''))
                var bb = +((b[sortName] + '').replace(/[^\d]/g, ''))
                if (aa < bb) {
                    return order * -1
                }
                if (aa > bb) {
                    return order
                }
                return 0
            })
        }
    </script>
}
